# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps
'atom-text-editor':
  'ctrl-space': 'kill-ring:set-mark'
  'ctrl-w': 'kill-ring:kill-region'
  'ctrl-k': 'kill-ring:kill-line'
  'ctrl-y': 'kill-ring:yank'
  'alt-y': 'kill-ring:yank-pop'
